<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raise_Ease/Donate</title>
    <link rel="stylesheet" href="css/donate.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
</head>
<body>
    
    <div class="background">
        <div class="container">
            <div class="text1 txt">Your Support Can Make A Meaningful Difference!</div>
            <div class="text2 txt"> To Contribute, You Have Two options:<br> > Visit The Website at www.example/email_id <br>> Search The Required Email_Id Below and Scan The QR Code to make a secure donation.</div>
            <div class="text3 txt"> Together, We Can Create Positive Change And Impact Lives. Thank You For Your Generosity!</div>
            <form action="/search" method="post">
                <input type="email" name="check" id="check" placeholder="Please Type The Email Of The Person/Organisation You Want To Donate" autocomplete="off" required>
                <button type="submit" class="btn">Search</button>
            </form>  
            <footer>@Himanshu..!</footer>
        </div>
    </div>
</body> 
</html>