<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Raise_Ease</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
</head>
<body>
    <div class="background">
        <div class="container">
            <header>
                <img src="/imges/logo.png" alt="Logo" class="logo">
                <div class="txt">A Simple Place To Register Yourself To Raise Funds For Your Emergency</div>
            </header>
            <div class="fund-raise common">
                <form action="/raise" method="post" class="form">
                    <input type="text" name="input" class="input">
                    <div class="box1 txt-box">Want Fund for Your Needs..? <br>We Are Here To Help You..</div>
                    <img src="/imges/raise_f.png" alt="Fund Raise Photo" class="img-c1">
                    <button type="submit" class="btn" id="one">Click Here To Raise Funds..</button>
                </form>
            </div>
            <div class="donate common po">
                <form action="/donate" method="post" class="form">
                    <input type="text" name="input" class="input">
                    <div class="box2 txt-box">Donate Now..! <br>Your Donation Could Save Some Lives..</div>
                    <img src="/imges/donate_f.png" alt="Donate Photo" class="img-c2">
                    <button type="submit" class="btn" id="two">Click Here To Donate..</button>
                </form>
            </div>
            <footer>@Himanshu..!</footer>
        </div>
    </div>
</body>
</html>